@{
    ViewData["Title"] = "Sem Permissão";
}

<div class="text-center">
    <h2>Você não tem permissão para fazer essa operação!</h2>
    <p>Voltar para <a asp-area="" asp-controller="Home" asp-action="Index">Home</a></p>
</div>
